<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
     <%  if(typeof error !== "undefined"){ %>
      <div><%=error%></div>
      <% } %>
     <form method="POST">
            <input  autofocus="autofocus"  required="required" type="text" name="email"  class="form-control" placeholder="email"> 
            <input  required="required" type="password" name="password" class="form-control" placeholder="password">
            <%  if(title.toLowerCase() ==="sign up"){ %>
             <input type="password" name="confirmpassword" class="form-control" placeholder="confirm password">
                <% } %>
             <button class="btn btn-success"><%= title %></button>
 
     </form>
  </body>
</html>
